code[data-value] {
  display: block;
  margin-top: 12px;

  .copy-cmd {
    position: absolute;
    right: 12px;
    top: -12px;

    min-height: 0;
    font-size: $font-down-2;

    .d-icon {
      pointer-events: none;
    }
  }
}
