.discourse-copy-codeblocks {
  display: block;
  position: relative;
  overflow: visible;

  .copy-cmd {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 0;
    font-size: $font-down-2;

    min-height: 0;
    font-size: $font-down-2;

    .d-icon {
      pointer-events: none;
    }
  }
}
